server/node_modules/
client/node_modules/
client/dev-dist/
client/dist/
.idea/
.vscode/
package-lock.json
.env.old
.env
.env.test
.env.production
server/public/uploads/*.png
server/public/uploads/*.jpg
server/public/uploads/*.jpeg
server/public/uploads/*.gif
server/public/uploads/*.svg
server/public/uploads/*.mp4
server/public/uploads/*.webp
